main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 32px;
  gap: 32px;
}

main .home-title {
  font-size: 2.5em;
  color: #43a047;
  font-weight: 700;
}

main .pics-container {
  width: 100%;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 16px;
}